body {
  background: #e1e6ed;
}

.contact {
  display: flex;
  flex-wrap: wrap;
  width: 85%;
  margin: auto;
}

.contact__card {
  display: flex;
  height: 180px;
  width: 200px;
  border-radius: 20px 20px 20px 20px;
  justify-content: center;
  align-items: center;
  margin: 1rem 1rem;
  box-shadow: inset 0px 0px 0px rgb(163,177,198,0.6), 
              inset 0px 0px 0px rgba(255,255,255, 0.5),
              9px 9px 16px rgb(163,177,198,0.6), 
              -9px -9px 16px rgba(255,255,255, 0.5);
  color: #FFBB05;
  font-weight: 700;
  font-size: 4rem;
  transition: all 320ms ease-in-out;
}

.contact__card:hover {
  box-shadow: inset 9px 9px 16px rgb(163,177,198,0.6), inset -9px -9px 16px rgba(255,255,255, 0.5);
}

.modal-header {
  justify-content: flex-end;
}

.modal-header button.btn {
  color: #535353;
}

.modal-header button:first-child {
  margin-right: 1.5rem;
}

.modal-header button i {
  margin-right: 0.3rem;
}

.modal-body {
  padding: 2.5rem;
}

.modal-body h1 {
  color: #000000;
  font-size: 5rem;
}

.modal-body .contact-information .contact-information__item {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: 1.5rem 0;
}

.modal-body .contact-information .contact-information__item input {
  border: none;
}

.modal-body .contact-information .contact-information__item label {
  margin: 0;
}